<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Face Recognition for ESP35App</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
  <style>
    video {
      border: 3px solid #ccc;
      background: green;
      width: 400px;
      height: 400px
    }
  </style>
</head>

<body>

<div class = "container">
    <div class = "starter-template">
        <h1>Face Recognition for ESP32 Cam</h1>
    </div>
</div>

       <button>Start camera</button>
           <br/>
           <video></video>
           <script>
                if (!navigator.mediaDevices || !navigator.mediaDevices.getUserMedia) {
                     console.log("getUserMedia() not supported.");
                     return;
                }
                var btn = document.querySelector('button');
               
                btn.onclick=function(e) {
            navigator.mediaDevices.getUserMedia({ audio: true, video: true })
                         .then(function(stream) {
                             var video = document.querySelector('video');
                             if ("srcObject" in video) {
                                 video.srcObject = stream;
                             } else {
                                 video.src = window.URL.createObjectURL(stream);
                             }
                             video.onloadedmetadata = function(e) {
                                 video.play();
                             };
                        })
                          .catch(function(err) {
                               console.log(err.name + ": " + err.message);
                           });
                };
 
                
           </script> 

</body>
</html>
